@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
/* font-family: 'Roboto', sans-serif; */
/* 초기화 */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;padding: 0px;margin: 0px;}
*, ::before, ::after {box-sizing: border-box;}
html {font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body {margin:0}
html, body {height: 100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
audio:not([controls]) {display:none;height:0}
[hidden],template {display:none}
a {background-color:transparent;display: inline-block;text-decoration: none; cursor: pointer}
a, a:visited, a:focus, a:active, :visited, :focus, :active {outline:0;text-decoration: none}
abbr[title] {border-bottom:1px dotted}
b,strong {font-weight:bold}
dfn {font-style:italic}
h1 {font-size:2em;margin:0.67em 0}
mark {background:#ff0;color:#000}
small {font-size:80%}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup {top:-0.5em}
sub { bottom:-0.25em}
img {border:0}
svg:not(:root) {overflow:hidden}
figure {margin:1em 40px}
hr {-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}
pre {overflow:auto}
code,kbd,pre,samp {font-family:monospace, monospace;font-size:1em}
button,input,optgroup,select,textarea {color:inherit;font:inherit;margin:0}
button {overflow:visible;border: 0px;}
button,select {text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled] {cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0}
input {line-height:normal}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height:auto}
input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
fieldset {border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend {border:0;padding:0}
textarea {overflow:auto}
optgroup {font-weight:bold}
table {border-collapse:collapse;border-spacing:0}
td,th {padding:0}
ol, ul {list-style: none;}
select { -webkit-appearance: none;-moz-appearance: none; -moz-appearance: none; appearance: none; /* 네이티브 외형 감추기 */border-radius: 0px;background: none;padding-right : 20px}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { display: none; }

/* 스크롤 바 */
::-webkit-scrollbar {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #d7d7d7;
  -webkit-box-shadow: inset 0 0 1px red;
}
/* Handle */
::-webkit-scrollbar-thumb {border-radius: 0px;background: #d7d7d7;}
::-webkit-scrollbar-track-piece {background-color: #ffffff;}
::-webkit-scrollbar-button {
	background-color: #ffffff;
}
::-webkit-scrollbar-button:start {
	display: none;
}
::-webkit-scrollbar-button:end {
	display: none;
}
::-webkit-scrollbar-button:vertical:increment {
	display: none;
}
::-webkit-scrollbar-button:vertical:decrement {
	display: none;
}
body {color: #000;font-family: 'Nanum Gothic','NanumGothic','나눔고딕','Maven Pro','Noto Sans KR','Dotum','돋움',verdana,sans-serif;font-size: 14px;font-weight: 400;line-height: 1.471;}
.display_none {display: none}
.clearfix::before, .clearfix::after, .top_nav::after, .tab-menu::after, .page-title::after, .map-info::after, .pagination::after { content: " ";display: table;clear: both;}

.icon {display: inline-block;vertical-align: middle; background-position: center center; background-repeat: no-repeat;}
.icon-alert {background-image: url("../img/icon_alert.png");width: 14px;height: 12px; } /* 게시판 목록의 경고 아이콘 */

/* 버튼 */
.btn-default {display: inline-block;width:120px;height: 40px;padding:10px;line-height:20px;text-align: center; border: 1px solid #464646;background-color: #898989;font-size: 14px;font-weight: bold;color: #ffffff}
.btn-default.active {border: 1px solid #23a2a7;background-color: #2dccd2;}
.btn-default.btn-delete {width:80px; height: 30px;padding:5px;font-size: 12px;}
.btn-default.btn-delete.active {border-color: #b9484f;background-color: #ed666e;}

/* 체크박스 스타일 */
.input-checkbox {display: inline-block;height: 14px;vertical-align: middle;}
.input-checkbox input[type=checkbox] { display: none; }
.input-checkbox .icon-checkbox {display: inline-block;background: url(../img/icon_check_none.png) center center no-repeat; width: 14px;height: 14px; }
.input-checkbox input[type=checkbox]:checked + .icon-checkbox { background-image: url(../img/icon_check_ok.png); }

/* select 스타일*/
.icon-select-arrow{position: absolute;right: 20px;top: 20px; width:10px; height: 10px; background: url('../img/icon_select.png') no-repeat center center; background-size:10px 10px;}
select:focus +.icon-select-arrow,
.icon-select-arrow.active{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.icon-select-arrow.selected{-webkit-transform: rotate(0deg) !important;-moz-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; -o-transform: rotate(0deg) !important; transform: rotate(0deg) !important; }

/* 날짜 입력 스타일 */
.input-calendar { display: inline-block; width: 150px;position: relative;}
.input-calendar input[type=text]{ display: block;}
.input-calendar .icon-calendar {position: absolute;right: 0px;top: 0px; display: block;background: url(../img/icon_calendar.png) center center no-repeat; border-left:1px solid #e1e1e1; width: 30px;height: 30px; }
.input-calendar input[type=text]:focus + .icon-calendar { border-left-color: #000000;}

.text-right {text-align: right;}
/* TOP */
.top_nav {position:fixed;z-index: 9998;left: 0px;top: 0px;height: 100px;width: 100%; padding:30px ;background-color: #FFFFFF;border-bottom: 1px solid #f4f4f4}
.top_nav .logo {float: left}
.top_nav .user-menu {float: right}
.top_nav .user-menu li {float: left;}
.top_nav .user-info{padding-right: 50px;color: #898989;font-size: 15px;}
.top_nav .user-info strong {color: #000000}
.top_nav .user-info .icon-user {width:40px;height:40px;margin-right: 20px;background: #2dccd2 url("../img/icon_pf.png") center center no-repeat;border-radius: 8px;}
.top_nav .user-logout a.btn-logout {width:110px;padding:0px 15px 0px 10px;background-color: #353b49;border-radius: 8px;color: #FFFFFF}
.top_nav .user-logout a.btn-logout .icon-logout {width:20px;height:40px;margin-right: 5px;background-image: url("../img/icon_logout.png");}
.top_nav .user-logout a.btn-logout:hover {background-color: #4785f0;color: #ffffff}

/* LNB */
.left-menu {position: fixed;left:0px;top:0px;width:120px;height:100%;margin-top: 100px;background-color: #2dccd2;}
.left-menu .menu-list {width: 100%;text-align: center}
.left-menu .menu-list li {text-align:center;color: #FFFFFF;border-bottom: 1px solid rgba(255,255,255,0.2)}
.left-menu .menu-list li a{display:block;padding:30px 0px;text-align:center;color: #FFFFFF;}
.left-menu .menu-list li a .icon {width: 40px;height: 40px;display: block;margin:0 auto 5px;}
.left-menu .menu-list li a .icon-left-menu-01 {background-image: url("../img/icon_lnb01.png")}
.left-menu .menu-list li a .icon-left-menu-02 {background-image: url("../img/icon_lnb02.png")}
.left-menu .menu-list li a .icon-left-menu-03 {background-image: url("../img/icon_lnb03.png")}
.left-menu .menu-list li a .icon-left-menu-04 {background-image: url("../img/icon_lnb04.png")}
.left-menu .menu-list li a:hover {background-color: #4785f0}
.left-menu .menu-list li.active a{background: #4785f0 url("../img/icon_lnb_select.png") right center no-repeat}

/* Contents */
.container {padding:100px 0px 0px 120px;}
/* Location bar */
.location {padding-left:30px;font-size:12px;line-height:40px;font-weight:200;color:#959595;background-color: #fbfbfb;border-top: 1px solid #f4f4f4;border-bottom: 1px solid #f4f4f4;}

/* 내용 부분 (공통) */
.contents {padding:0px 30px;}
.tab-menu li {float: left;border: 1px solid #e1e1e1;text-align: center;margin-left: -1px;}
.tab-menu li a {display: block;}
.page-title .tab-menu li.active a {font-weight: bold;}
.page-title {padding:20px 20px;}
.page-title h3{float:left;line-height:40px;font-size: 24px;font-weight: bold;}
.page-title .tab-menu {float: right}
.page-title .tab-menu li{min-width: 100px;}
.page-title .tab-menu li a {line-height:38px;color: #898989;padding: 0px 20px;}
.page-title .tab-menu li.active {border-color: #3869be;}
.page-title .tab-menu li.active + li{border-left-color: #3869be;}
.page-title .tab-menu li.active a {background-color: #4785f0;color: #FFFFFF;}

/* 팝업 창 */
.modal_wrapper {display: none; background-color: rgba(0,0,0,0.5);position: fixed; z-index: 9999;left: 0px; top: 0px; width: 100%; height: 100%; }
.modal_wrapper .modal {position: absolute; left: 50%;top: 50%;transform: translate(-50%, -50%);background-color: #ffffff;border: 1px solid #4785f0;box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.1);-webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.1);-moz-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.1);box-sizing: content-box}
.modal_wrapper .modal .modal-title {background-color: #4785f0;color: #ffffff;padding:15px 30px; font-size: 14px;line-height: 20px;font-weight: bold;}
.modal_wrapper .modal .btn-close {position: absolute;right: 10px;top:10px;width: 30px;height: 30px;background: url('../img/bt_pop_close.png') center center no-repeat;}
.modal_wrapper .modal .modal-content > div {padding:20px}
.modal_wrapper .modal .modal-content > div.meter-title {padding:15px 20px}
.modal_wrapper .modal .meter-id {display:inline-block;width: 120px;height: 30px;border: 1px solid #4785f0;color:#4785f0;font-size: 12px;line-height: 20px;padding: 5px 0px;text-align: center;}
.modal_wrapper .modal .meter-id:focus {border: 1px solid #000000;color:#000000;}

/* 팝업 창 > 크기지정 */
.modal_wrapper .modal.modal-md {width: 680px;}
.modal_wrapper .modal.modal-sm {width: 550px;}
/* 팝업 창 > 정보 영역 */
.modal_wrapper .modal .meter-info > div {height: 450px;overflow-y: auto;border: 1px solid #cccccc;

/* 스크롤 바*/
	scrollbar-face-color: #d7d7d7;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: transparent;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: transparent;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: transparent;
	scrollbar-width: 16px;
	scrollbar-color: #d7d7d7;}
.modal_wrapper .modal .meter-info > div.float-left {width: 350px;margin-right: 10px;}
.modal_wrapper .modal .meter-info > div.float-right {width: 280px;}

.modal_wrapper .modal .modal-content > div.meter-info {padding-top: 0px;}
.modal_wrapper .modal .meter-info .table-meter {width: 100%;border-right: 1px solid #cccccc;}
.modal_wrapper .modal .meter-info .table-meter tr th {height: 50px;background-color: #fbfbfb; width: 130px; padding-left: 20px; font-size: 12px; font-weight: bold;border-bottom: 1px solid #ebebeb;text-align: left;}
.modal_wrapper .modal .meter-info .table-meter tr td {height: 50px;padding:10px;font-size: 12px;border-bottom: 1px solid #ebebeb}
.modal_wrapper .modal .meter-info .table-meter tr td input[type="text"] {display: block;width: 100%;height: 30px;font-size: 12px; border: 1px solid #e1e1e1;color: #000000;padding-left: 10px;}
.modal_wrapper .modal .meter-info .table-meter tr td input[type="text"]:focus {border-color: #000000}
.modal_wrapper .modal .meter-info .table-meter tr td input[type="text"]:disabled,
	.modal_wrapper .modal .meter-info .table-meter tr td input[type="text"].disabled {border: 1px solid #e1e1e1; background-color: #ebebeb; color: #898989;}

.modal_wrapper .modal .meter-info .float-right .table-meter thead th {width: 120px; background-color: #f6f9fe}
.modal_wrapper .modal .meter-info .float-right .table-meter thead th.td_checkbox {width: 40px;padding-left: 0px;text-align: center;}
.modal_wrapper .modal .meter-info .float-right .table-meter tbody td.td_checkbox {width: 40px;text-align: center;padding-right: 0px;}
.modal_wrapper .modal .meter-info .float-right .table-meter tbody td{padding-left:0px;}
.modal_wrapper .modal .meter-info .float-right .table-meter tbody tr.checked td{background-color: #fff6f6}
.modal_wrapper .modal .meter-info .float-right .table-meter tbody tr.active td{background-color: #fff6f6}
.modal_wrapper .modal .meter-info .float-right .table-meter tbody td:last-child{text-align: center;border-left:1px solid #ebebeb}

.modal_wrapper .modal .meter-menu {background-color: #f6f9fe; font-size: 0px;}
.modal_wrapper .modal .meter-menu  .btn-default {margin-left: 10px;}
.modal_wrapper .modal .meter-menu  .btn-default:first-child {margin-left: 0px;}

/* 내용 부분 (dashboard) */
.float-left {float: left;}
.float-right {float: right;}
.container-dashboard .contents {padding:30px;background-color: #fbfbfb;}

/* 게시판 > 검색 영역 */
.search-form{border-top: 1px solid #000000;margin-bottom: 50px;}
.search-form .search-input {border-bottom:1px solid #ebebeb}
.search-form .search-input label {display: inline-block;width:100px;padding:15px 0px 15px 20px;font-size: 12px;line-height: 20px; font-weight: bold;background-color: #fbfbfb;}
.search-form .search-input .form-input {display: inline-block;padding:10px 10px;position: relative;}
.search-form .search-input .form-input select {display: inline-block;padding-left:10px;width:150px;height: 30px;border:1px solid #e1e1e1;font-size: 12px;color: #898989}
.search-form .search-input .form-input input[type="text"] {display: inline-block;padding-left:10px;width:150px;height: 30px;border:1px solid #e1e1e1;font-size: 12px;color: #898989}
.search-form .search-input .form-input select:focus, .search-form .search-input .form-input input[type="text"]:focus {border-color: #000000;color: #000000}
.search-form .search-btn {text-align: center;padding-top: 20px;}
.search-form .search-btn .btn-search{display: inline-block;width: 80px;height: 40px;padding:10px 0px;text-align: center; background-color: #898989;border:1px solid #464646;color: #ffffff;font-weight: bold; font-size: 14px;line-height: 20px;}
.search-form .search-btn .btn-search:hover{background-color: #2dccd2;border-color: #23a2a7}

/* 게시판 > 목록 */
.table {width: 100%;border-top:1px solid #000000;}
.table th {border:1px solid #ebebeb;background-color: #f6f9fe;font-size: 12px;font-weight: bold;height: 40px;text-align: center;}
.table td {border:1px solid #ebebeb;text-align: center;height: 40px;color: #555555;font-size: 12px;}
.table th:first-child,.table td:first-child{border-left:1px none transparent;}
.table th:last-child,.table td:last-child{border-right:1px none transparent;}
.table tr.alert-error td {background-color: #fff6f6}
.table tr.alert-error td.text-alert {color: #f65756;}
.table tr.alert-error td.text-alert .alert-info{display:none; position: absolute; padding: 6px 10px;font-size: 12px;line-height: 16px;border:1px solid #000000;background-color: #363636;color: #ffffff;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);}
.table tr.alert-error td.text-alert:hover .alert-info{display: block}

/* 게시판 > 페이징 */
.pagination_nav {text-align: center;margin-top: 30px;}
.pagination_nav .pagination {display: inline-block; }
.pagination_nav .pagination > li {float: left;border:1px solid #ebebeb;margin-left: -1px;}
.pagination_nav .pagination > li > a,
	.pagination_nav .pagination > li > span {padding:10px;width: 40px;height: 40px;line-height: 20px;text-align: center;  color: #000000;font-size: 12px;}

.pagination_nav .pagination > .active > a,
	.pagination_nav .pagination > .active > span,
	.pagination_nav .pagination > .active > a:hover,
	.pagination_nav .pagination > .active > span:hover,
	.pagination_nav .pagination > .active > a:focus,
	.pagination_nav .pagination > .active > span:focus {background-color: #898989;border-color: #464646;color: #ffffff;}
.pagination_nav .pagination .paginate_first a{color: transparent;width: 35px;height:100%;background: url('../img/icon_page_first.png') center center no-repeat;letter-spacing: -14px;border:none;}
.pagination_nav .pagination .paginate_prev a{color: transparent;width: 35px;height:100%;background: url('../img/icon_page_prev.png') center center no-repeat;letter-spacing: -14px;border:none;}
.pagination_nav .pagination .paginate_next a{color: transparent;width: 35px;height:100%;background: url('../img/icon_page_next.png') center center no-repeat;letter-spacing: -14px;border:none;}
.pagination_nav .pagination .paginate_last a{color: transparent;width: 35px;height:100%;background: url('../img/icon_page_end.png') center center no-repeat;letter-spacing: -14px;border:none;}


/* dashboard  */
.dashboard {margin: 0 auto;width: 1190px;}
/* dashboard 패널 공통 */
.dashboard .panel{float:left;width: 350px;height: 450px;border-radius: 5px; overflow: hidden; border:1px solid transparent;background-color: #FFFFFF;margin-right: 20px;margin-bottom: 20px;box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.02);-webkit-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.02);-moz-box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.02);}
.dashboard .panel .panel-title{font-weight: bold;padding: 15px 20px;line-height: 20px;background-color: #fbfbfb}
.dashboard .panel .panel-title .tab-menu {float: right;}
.dashboard .panel .panel-title .tab-menu li {background-color: #ffffff;}
.dashboard .panel .panel-title .tab-menu li a {width: 24px;height: 24px;color: #898989;font-weight: bold;font-size: 12px;line-height: 24px;}
.dashboard .panel .panel-title .tab-menu li.active {border-color: #000000;background-color: #252525}
.dashboard .panel .panel-title .tab-menu li.active + li{border-left-color: #000000;}
.dashboard .panel .panel-title .tab-menu li.active a {color: #ffffff;}
.dashboard .panel .panel-body {padding: 20px 20px 0px 20px;}
/* 그래프 정보 */
.dashboard .panel .panel-body .addon{color: #898989;font-size: 14px;font-weight: bold;text-align: right;height:20px;}
.dashboard .panel .panel-body .graph-value{font : normal normal 40px 'Roboto', sans-serif;color: #464646;text-align: center;height: 40px;}
.dashboard .panel .panel-body .graph-value .bg-text{color: #e1e1e1}
.dashboard .panel .panel-body .graph-value small{color: #464646;font-size: 24px;font-weight: lighter;}
.dashboard .panel .panel-body .graph-area {padding:50px 0px 0px;height: 270px;text-align: center;}

.dashboard .panel .panel-footer {padding:0px;font: normal 15px/22px 'Roboto', sans-serif;}
.dashboard .panel .panel-footer > div {height:50px;padding:13px 20px;border-top: 1px solid #f4f4f4}
.dashboard .panel .panel-footer .text-date{color: #898989;}
.dashboard .panel .panel-footer .text-data{color: #b7b7b7;}
.dashboard .panel .panel-footer strong{font-size:18px;color: #2dccd2;}
.dashboard .panel .panel-footer small{vertical-align: bottom;display: inline-block;padding-left: 10px;}

/* dashboard 실시간 전력사용 현황 */
.dashboard .panel.panel-realtime {border-color: #0397d6}

/* dashboard 오늘의 전력사용 현황 */
.dashboard .panel.panel-today {border-color: #f4a31f}
.dashboard .panel.panel-today .panel-body .graph-area {padding-bottom: 40px;}

/* dashboard 설치 현황 */
.dashboard .panel.panel-install {float: right;margin:0px;width:450px;height: 920px;border-color: #b7b7b7;}
.dashboard .panel.panel-install .tab-menu {margin-bottom: 100px;}
.dashboard .panel.panel-install .tab-menu li {width:50%;background-color: #f4f4f4;border-color: #e1e1e1;height: 50px;}
.dashboard .panel.panel-install .tab-menu li:first-child {border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.dashboard .panel.panel-install .tab-menu li:last-child {border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.dashboard .panel.panel-install .tab-menu li a {color: #898989;font-weight: bold;line-height: 20px;padding:15px 0px;}
.dashboard .panel.panel-install .tab-menu li.active {border-color: #2cacb1;background-color: #2dccd2}
.dashboard .panel.panel-install .tab-menu li.active + li{border-left-color: #2cacb1;}
.dashboard .panel.panel-install .tab-menu li.active a {color: #ffffff;}
.dashboard .panel.panel-install .install-map {position:relative;margin:0 auto;width: 391px;height:541px;background: url("../img/img_map.png") center center no-repeat;}
/* dashboard 설치 현황 > 시도 정보  */
.install-map .map-info {position: absolute;box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.05);}
.install-map .map-info dt, .install-map .map-info dd{float: left;padding:0px 10px;line-height: 23px;font-size: 12px;font-weight: bold;}
.install-map .map-info dt {color: #FFFFFF}
.install-map .map-info dd {background-color: #FFFFFF;}
.install-map .map-info.map-si {background-color: #448ef8;border: 1px solid #448ef8;}
.install-map .map-info.map-si dd{color:#448ef8;}
.install-map .map-info.map-do {background-color: #484848;border: 1px solid #484848;}
.install-map .map-info.map-do dd{color:#484848;}

/* dashboard 설치 현황 > 시도 정보 위치 지정 */
.install-map .map-info.map-seoul {top: 92px;left: 108px;}
.install-map .map-info.map-gyeonggi {top: 57px;left: 104px;}
.install-map .map-info.map-incheon {top: 90px;left: -10px;}
.install-map .map-info.map-gangwon {top: 70px;right: 111px;}
.install-map .map-info.map-chungnam {top: 204px;left: 24px;}
.install-map .map-info.map-chungbuk {top: 147px;left: 152px;}
.install-map .map-info.map-daejeon {top: 225px;left: 134px;}
.install-map .map-info.map-gyeongbuk {top: 218px;right: 66px;}
.install-map .map-info.map-daegu {bottom: 235px;right: 82px;}
.install-map .map-info.map-gyeongnam {bottom: 181px;right: 140px;}
.install-map .map-info.map-busan {bottom: 125px;right: 66px;}
.install-map .map-info.map-jeolbuk {bottom: 222px;left: 37px;}
.install-map .map-info.map-jeolnam {bottom: 115px;left: 0px;}
.install-map .map-info.map-gwangju {bottom: 157px;left: 81px;}
.install-map .map-info.map-jeju {bottom: 19px;left: 67px;}

/* dashboard 검침 현황 */
.dashboard .panel.panel-check {border-color: #c1d72e;margin-bottom:0px;}
.dashboard .panel.panel-check .panel-body .graph-area {padding-top:0px;padding-bottom: 50px;height: 370px;}

/* dashboard LP 수신 현황 */
.dashboard .panel.panel-lp {border-color: #ed666e;margin-bottom:0px;}
.dashboard .panel.panel-lp .panel-body .graph-area {padding-top:0px;padding-bottom: 0px;height: 280px;}

/* 홈 > 설비관리 > 계층 구조 */
.table.table-bordered {border:1px solid #cccccc;}
.table.table-bordered th {border-top:  none}
.stack-list {margin-bottom: 50px;display: table;width: 100%;}
.stack-info {width: 34%;display: table-cell;padding: 0px 15px;}
.stack-info:first-child {padding-left: 0px;width: 33%}
.stack-info:last-child {padding-right: 0px;width: 33%}
.stack-info .bg-blue {background-color: #0397d6}
.stack-info .bg-orange {background-color: #f4a31f}
.stack-info .bg-green {background-color: #c1d72e}
.stack-info h3 {font-weight: bold; color: #ffffff;padding: 15px 20px; line-height: 20px;margin-bottom: 10px}
.stack-info .table  {border-top:  none;border-bottom: none;}
.stack-info .table tr:first-child td {border-top:  none;}
.stack-info .table.table-bordered  {border-top:  1px solid #cccccc;}
.stack-info .table.table-bordered  th{border-bottom: none;}
.stack-info .scroll{overflow-y: auto;border: 1px solid #cccccc;
/* 스크롤 바*/
	scrollbar-face-color: #d7d7d7;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: transparent;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: transparent;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: transparent;
	scrollbar-width: 16px;
	scrollbar-color: #d7d7d7;
}


/* 달력 */
.ui-datepicker {background-color: #ffffff;border:1px solid #303542;display: none}
.ui-datepicker table {border-collapse: separate;}
.ui-datepicker * {color: #000000}
.ui-datepicker .ui-datepicker-header {background-color: #303542;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {text-align: center;color: #ffffff;size: 12px;font-weight: bold;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title *{font-size: 12px;font-weight: bold;line-height: 30px;color: #ffffff}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev  {font-size: 0pt;color: transparent;position: absolute; left: 0px;top: 0px;background: url("../img/bt_cal_left.png") center center no-repeat;width:30px; height:30px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next  {font-size: 0pt;color: transparent;position: absolute; right: 0px;top: 0px;background: url("../img/bt_cal_right.png") center center no-repeat;width:30px; height:30px;}
.ui-datepicker .ui-datepicker-calendar  {padding:10px;}
.ui-datepicker .ui-datepicker-calendar * {font-size: 12px;text-align: center;}
.ui-datepicker .ui-datepicker-calendar th , .ui-datepicker .ui-datepicker-calendar td{width: 30px;height: 30px;text-align: center;vertical-align: middle;}
.ui-datepicker .ui-datepicker-calendar .ui-state-disabled  * {color: rgba(0,0,0,0.5)}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end * {color: #448ef8}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child * {color: #ed666e}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today *{color:#4785f0;}
.ui-datepicker .ui-datepicker-calendar tr td:hover {background-color:#4785f0;}
.ui-datepicker .ui-datepicker-calendar tr td:hover a {color:#fff;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day {background-color: #4785f0;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day *{color:#ffffff;}

/* 로그인 (A00-01) */
.wrapper-login  {position: fixed;width: 100%;height: 100%;left: 0px;top: 0px; background: rgba(0,0,0,0.4) url('../img/img_bg_01.jpg') center center no-repeat; background-size: cover;}
.login-container {position: absolute;left: 50%;top: 50%;width: 840px;height: 460px;transform: translate(-50%, -50%);}
.login-box {background-color: rgba(45,204,210,0.8); padding: 50px 0px;}
.login-box > div{width: 50%;}
.login-box .login-logo{border-right:1px solid #fff;display: table;text-align: center;}
.login-box .login-logo .logo{display: table-cell;vertical-align: middle;height: 250px;}
.login-box .login-form {padding: 30px 50px 0px 50px;}
.login-box .login-form .input-group{margin-bottom: 20px;}
.login-box .login-form .login-title{margin-bottom: 40px;font-size: 30px;color: #ffffff; line-height: 40px; height: 40px;padding-left: 60px;background: url('../img/icon_login.png') left top no-repeat;}
.login-box .login-form .login-input {width: 220px;padding-left: 40px;background-color: #ffffff;}
.login-box .login-form .login-input input{display: block;width: 100%;height:40px;background-color: #ffffff;border:1px solid #ffffff;font-size: 12px;font-weight: bold;color: #000000}
.login-box .login-form .login-input-id {margin-bottom: 10px;background: #ffffff url('../img/icon_login_id.png') left top no-repeat;}
.login-box .login-form .login-input-pw {background: #ffffff url('../img/icon_login_pw.png') left top no-repeat;}
.login-box .login-form .login-input-btn {width: 90px;height: 90px;line-height:90px;background-color: #4785f0;border:1px solid #3869be;color: #ffffff;font-size: 16px;text-align: center;font-weight: bold;}
.login-box .input-forget {text-align: right;}
.login-box .input-forget a{font-size: 12px;color: #ffffff;}

.login-container .login-footer{display: table;width: 100%; height:110px;overflow: hidden; padding: 30px ;background-color: rgba(0,0,0,0.8);}
.login-container .login-footer > div{display: table-cell;vertical-align: middle;}
.login-container .login-footer .login-footer-logo{padding-right: 100px}
.login-container .login-footer .login-footer-address{font-size: 11px;color: #959595; font-weight: lighter;line-height: 120%;letter-spacing: -0.2px}
.login-container .login-footer .login-footer-address .address{margin-bottom: 12px;}
